#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* h1, aurora (landing page) */
.gradient-text {
    background-image: linear-gradient(
        to right,
        #b5b9dc,
        #00b2a4,
        #ebff51,
        #7088c6
    );
    background-size: 600% 600%;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 5s ease-in-out infinite;
}

.group:hover .group-hover-gradient {
    background-image: linear-gradient(
        to left,
        #7b88ff,
        #ff7878,
        #00ff51,
        #ebff51
    );
    background-size: 600% 600%;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 5s ease-in-out infinite;
}

@keyframes shimmer {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
